

  <% if (success) { %>
    <div class="message success">
      <p>~<%= success %>~</p>
    </div>
  <% } %>

  <% if (error) { %>
    <div class="message error">
      <p>！<%= error %>！</p>
    </div>
  <% } %>