  <script src="/js/bootstrap.min.js"></script>
  <script type="text/javascript">
    if(document.querySelector('.message')){
      setTimeout(() => {
        document.querySelector('.message').style.top = '-60' + 'px';
      },1000)
    }    
  </script>
  </body>
</html>
